
 //Version: 1.1
    //Last edited by: Stephanie Wang
    //Last edit date: 16/07/2023 

ul, ol{
    list-style:none;
}
a{
    text-decoration:none;
    color: black;
}
html,
body{
    overflow-x: hidden ;
    width: 100%;
    margin:auto;
}